<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Add New Ticket</title>
</head>

<header>
    <a href="/" class="links">Home</a>
    <a href="/flights" class="links">See All Flights</a>
    <a href="/flights/new" class="links">Add Flight</a>
</header>

<body>
    <form action="/tickets/<%= flight %>" method="POST">
        <label>Seat</label>
        <input type="text" name="seat">
        <label>Price</label>
        <input type="text" name="price">
        <input type="submit" value="Add Ticket">
    </form>
</body>

</html>