<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Mongoose Movies</title>
</head>
<header>
  <a href="/flights" class="links">See All Flights</a>
  <a href="/flights/new" class="links">Add Flight</a>
</header>

<body>
  <h1>My Flights Database</h1>
</body>

</html>