<!DOCTYPE html>
<html>

<head>
  <title>All Flights</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>All Flights</h1>
  <p>Welcome to <%= title %>
  </p>
</body>

</html>